<div id="app-footer" class="app-footer">

  <div class="app-footer-appTitle">
    <a href="<%= ApplicationHelper.GetAppUrl() %>" target="_blank">
    <%= ApplicationHelper.GetAppName() %>
    </a>
  </div>

  <div class="app-footer-appVersion">
    <%= ApplicationHelper.GetAppVersion() %>
  </div>

</div>
