

<div id="signin_section">

  <div class="signin_box">

    <div id="sign_in_title">Sign In</div>

    <%# TODO: This has hard-coded URL. Needs to be dynamic. Seems fixed...? %>
    <%= form_tag t('LoginPostUrl') do %>

      <div class="signin_field">
        <label for="user_login">Username:</label>
        <%= text_field "user", "name", :size=>20 %>
      </div>

      <div class="signin_field">
        <label for="user_password">Password:</label>
        <%= password_field "user", "password", :size=>20 %>
      </div>

      <div id="signin_button">
        <%= submit_tag "Login", :name=>'login', :id=>'login' %>&nbsp;&nbsp;
      </div>

    <% end %>

  </div>

</div>
